<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="LoginSuite" parallel="none">
	<test name="LoginScriptPageObject">
		<classes>
			<class name="com.akshay.automation.setup.BaseClass" />
			<class name="com.akshay.automation.TestCaseLoginPageObject" />


		</classes>
	</test> <!-- Test -->

	<test name="LoginScriptPageFactory">
		<classes>
			<class name="com.akshay.automation.setup.BaseClass" />
			<class name="com.akshay.automation.testcases.TestCaseLoginPageFactory" />
		</classes>
	</test> <!-- Test -->

</suite> <!-- Suite -->
